<nav id="sidebar-icon-links">

  <a id="github-link" class="icon" title="Andrew's Github" aria-label="Andrew's Github" href="https://github.com/jandrewsmith03">
    {% include svg/github.svg %}
  </a>

  <a id="epic-link" class="icon" title="EPIC UChicago" aria-label="EPIC UChicago" href="https://epic.uchicago.edu/">
    {% include svg/epic.svg %}
  </a>

  <a id="uchicago-link" class="icon" title="UChicago" aria-label="UChicago" href="https://www.uchicago.edu/">
    {% include svg/uchicago.svg %}
  </a>

  <a id="tamu-link" class="icon" title="Texas A&amp;M University" aria-label="Texas A&amp;M University" href="https://www.tamu.edu/">
    {% include svg/tamu.svg %}
  </a>

  {% include custom-icon-links.html %}
</nav>
