<nav id="sidebar-icon-links">

  <a id="thecb-link" class="icon" title="THECB" aria-label="THECB" href="https://www.highered.texas.gov/">
    {% include svg/thecb.svg %}
  </a>

  <!--
  <a id="uw-link" class="icon" title="UW–Madison" aria-label="UW–Madison" href="https://econ.wisc.edu/">
    {% include svg/uw.svg %}
  </a>

  <a id="tamu-link" class="icon" title="TAMU" aria-label="TAMU" href="https://econ.tamu.edu/">
    {% include svg/tamu.svg %}
  </a>
  -->

  <a id="github-link" class="icon" title="Andrew's Github" aria-label="Andrew's Github" href="https://github.com/jandrewsmith03">
    {% include svg/github.svg %}
  </a>

  {% include custom-icon-links.html %}
</nav>
